.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.titulo{
  color: #131263;
}

.mat-column-id, .mat-column-edad, .mat-column-acciones{
  text-align: center;
}

.mat-column-id{
  border-right: 1px solid currentColor;
  width: 0;
  font-size: small;
  padding: 0 10px 0 5px;
}

/* Estilos del dialogo-eliminar.html */


.dialogo{
  border: 1px solid #630a03;
  background-color: #f2e4e2;
  border-radius: 5px;
}

.dialog-header{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dialog-icon{
  font-size: 350%;
  margin-top: 20px;
  height: max-content;
  width: max-content;
}

.dialog-content{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.fila{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
}

.col1{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
}

.col2{
  display: flex;
  flex-direction: column;
  margin-left: 1em;
  gap: 5px;
}

.dialog-actions {
  display: flex;
  justify-content: space-around;
}
