table {
  width: 100%;
}

.mat-column-id,
.mat-column-origen,
.mat-column-destino,
.mat-column-fechaSalida,
.mat-column-fechaLlegada,
.mat-column-colectivo,
.mat-column-acciones{
  text-align: center;
}

.mat-column-id{
  border-right: 1px solid currentColor;
  width: 0;
  font-size: small;
  padding: 0 10px 0 5px;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Estilos del dialogo-eliminar.html */

.dialogo{
  border: 1px solid #630a03;
  background-color: #c98f86;
  border-radius: 5px;
}

.dialog-header{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dialog-icon{
  font-size: 350%;
  margin-top: 20px;
  height: max-content;
  width: max-content;}

.dialog-content{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.fila{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.col1{
  display: flex;
  flex-direction: column;
}

.col2{
  display: flex;
  flex-direction: column;
  margin-left: 1em;
}

.dialog-actions {
  display: flex;
  justify-content: space-around;
}
