.sidenav-container {
  height: -webkit-fill-available;
  width: 22vh;
  background-color: #e2e7e8;
  overflow: hidden;
}

.boton {
  width: 95%;
  height: 20%;
  display: flex;
  flex-direction: column;
  font-size: unset;
  margin: 20px 3px;
  border-radius: 9px;
  justify-content: center;
}

.boton:hover {
  background-color: #869a9e;
  color: #000000;
}

.icono {
  margin-right: 8px;
}

